_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_sass/midnight.scss
/node_modules/
/vendor/
_scripts/*.webp
**.pyc
assets/img/gen/**
_scripts/data/**
assets-submodule/**
data/poketools/bbvw2/wildarea/**
venv/**
