<script src="/assets/js/xandra.js"></script>
<script src="https://kit.fontawesome.com/e2e8523316.js" crossorigin="anonymous"></script>

<div class="xandra">

<h3> Xandra </h3>

<!--
<h4> Lancia attacchi </h4>

<form class="attack">
    <div style="display: inline-block; padding: 0 5px">
        <label for="attacknum">Numero attacchi</label>
        <input type="number" id="attacknum" name="attacknum" value="3"/>   
    </div>
    <div style="display: inline-block; padding: 0 5px">
        <label for="attackbonus">Bonus attacco</label>
        <input type="number" class="bonus" id="attackbonus" name="attackbonus" value="10"/>  
    </div>

    <br>

    <label for="asurge">Azione impetuosa (2x attacchi)</label>
    <input type="checkbox" id="asurge" name="asurge">
    <br>

    <label for="polebonus">Attacco bonus con asta</label>
    <input type="checkbox" id="polebonus" name="polebonus" checked>
    <br>

    <button type="button" id="rollattacks">Lancia attacchi!</button>

    <div id="atkresults">
    </div>
</form>

<br>
-->

<h4> Calcola danni </h4>

<form class="damage">
    <div style="display: inline-block; padding: 0 5px">
        <label for="attacknum">Numero attacchi a segno</label>
        <input type="number" id="attacknum" name="attacknum" value="3"/>   
    </div>
    <div style="display: inline-block; padding: 0 5px">
        <label for="dmgbonus">Bonus danni</label>
        <input type="number" class="bonus" id="dmgbonus" name="dmgbonus" value="7"/>  
    </div>

    <br>

    <span>Critici?</span>
    <div id="critcheckboxes"></div>

    <br>

    <label for="polebonus">Bonus con asta</label>
    <input type="checkbox" id="polebonus" name="polebonus" checked>
    <label for="polebonus-crit">Critico</label>
    <input type="checkbox" id="polebonus-crit" name="polebonus-crit">

    <br>

    <label for="reroll-auto">Ritira in automatico 1 e 2 delle armi</label>
    <input type="checkbox" id="reroll-auto" name="reroll-auto">

    <br>

    <button type="button" id="rolldamage">Lancia danni!</button>

    <table id="dmgresults">
    </table>
</form>

</div>