<script src="/assets/js/xandra.js"></script>
<script src="https://kit.fontawesome.com/e2e8523316.js" crossorigin="anonymous"></script>

<div class="webapp xandra">

<h3> Xandra </h3>

<!--
<h4> Lancia attacchi </h4>

<form class="attack">
    <div style="display: inline-block; padding: 0 5px">
        <label for="attacknum">Numero attacchi</label>
        <input type="number" id="attacknum" name="attacknum" value="3"/>   
    </div>
    <div style="display: inline-block; padding: 0 5px">
        <label for="attackbonus">Bonus attacco</label>
        <input type="number" class="bonus" id="attackbonus" name="attackbonus" value="10"/>  
    </div>

    <br>

    <label for="asurge">Azione impetuosa (2x attacchi)</label>
    <input type="checkbox" id="asurge" name="asurge">
    <br>

    <label for="polebonus">Attacco bonus con asta</label>
    <input type="checkbox" id="polebonus" name="polebonus" checked>
    <br>

    <button type="button" id="rollattacks">Lancia attacchi!</button>

    <div id="atkresults">
    </div>
</form>

<br>
-->

<h4> Calcola danni </h4>

<form class="damage">
    <div class="damagebox">
        <div class="damagecontainer">
            <p><strong>Numero attacchi</strong></p>
    
            <div style="display: inline-block; padding: 0 5px">
                <label for="attacknum">Numero attacchi a segno</label>
                <input type="number" id="attacknum" name="attacknum" value="3"/>   
            </div>   
            <br>
        
            <span>Critici?</span>
            <div id="critcheckboxes"></div>
        
            <br>
        
            <input type="checkbox" id="polebonus" name="polebonus" checked>
            <label for="polebonus">Bonus con asta</label>
            <input type="checkbox" id="polebonus-crit" name="polebonus-crit"> 
            <label for="polebonus-crit">Critico</label>
        </div>
    
        <div class="damagecontainer">
            <p><strong>Danni armi</strong></p>
    
            <div style="display: inline-block; padding: 0 5px; text-align: center;">
                <label for="dmgbonus">Bonus danni</label>
                <input type="number" class="bonus" id="dmgbonus" name="dmgbonus" value="7"/>  
            </div>
            
            <br>
        
            <input type="checkbox" id="reroll-auto" name="reroll-auto">
            <label for="reroll-auto">Ritira in automatico 1 e 2 delle armi</label>
            <br>
        
            <input type="checkbox" id="orc-crits" name="orc-crits" checked>
            <label for="orc-crits">Mezzorco: aggiungi un dado ai critici</label>
        </div>
    
        <div class="damagecontainer">
            <p><strong>Danni extra</strong></p>
            <p><em>(Non affetto da reroll)
                <sup><a href="https://old.reddit.com/r/dndnext/comments/e9dgyh/does_enlargereduce_work_with_great_weapon_fighting/">ref</a></sup></em>
            </p>

            <input type="checkbox" id="enlarge" name="enlarge"> 
            <label for="enlarge">Ingrandire</label>
            <br>
            <input type="checkbox" id="enlarge-super" name="enlarge-super"> 
            <label for="enlarge-super">Ingrandire (super)</label>
            <br>
            <label for="bonus-formula">Altri danni</label>
            <input type="text" id="bonus-formula" name="bonus-formula" placeholder="2d4+1d8+5">
            <p class="invalid-formula-warn">Formula non valida!</p>
        </div>    
    </div>

    <button type="button" id="rolldamage">Lancia danni!</button>

    <div class="table-container">
        <table id="dmgresults">
        </table>
    </div>
</form>

<h4 class="collapsible coll-blank">Caratteristiche usate</h4>

<div class="collapsible-content bordered hidden" markdown="1">

##### Falcione di Covolt + 1

[Link originale](https://old.reddit.com/r/TheGriffonsSaddlebag/comments/ojhelc/the_griffons_saddlebag_covolt_scythe_weapon_glaive/)

+1d8 danni da fulmine, un nemico adiacente deve fare TS Des CD 15 o subire 1d8 danni da fulmine.

È modificata per avere +1, per un totale di: *1d10+1d8+1+FOR* (al momento *1d10+1d8+7*)

Nota: il critico non si applica ai 1d8 extra, essendo separati dall'attacco principale.

##### Maestro delle Armi su Asta [Polearm Master]

Il personaggio ottiene i benefici seguenti:
- Quando effettua l'azione di Attacco e attacca soltanto con un'alabarda, un bastone ferrato, 
  una lancia o un falcione, può usare un'azione bonus per effettuare un attacco in mischia con 
  l'estremità opposta dell'arma. Questo attacco usa lo stesso modificatore di caratteristica
  dell'attacco primario. Il dado dei danni dell'arma per questo attacco è un d4 e l'arma 
  infligge danni contundenti.
- Mentre impugna un'alabarda, un bastone ferrato, un falcione, una lancia o una picca, le altre 
  creature provocano un attacco di opportunità da parte sua quando entrano nella portata che 
  egli possiede con quell'arma.

(Qua è rilevante il primo punto)

##### Combattere con Armi Possenti

Quando tiri 1 o 2 per il dado di danno di un 
attacco effettuato con un’arma da mischia che stai impugnando con due mani, 
puoi ritirare il dado e devi usare il nuovo risultato, anche se questo tiro fosse nuovamente 1 o 2. 
L’arma deve avere la proprietà due mani o versatile per farti ottenere questo beneficio. 

##### Attaccante Selvaggio

Una volta per turno, quando tiri i danni per un attacco con arma da mischia, puoi ritirare 
i dadi di danno dell'arma e usare uno dei due totali.

*Nota: Combattere con armi possenti e Attaccante selvaggio non si applicano a danni esterni a quelli dell'arma, come magie, smite, ecc*
*[(fonte)](https://old.reddit.com/r/dndnext/comments/e9dgyh/does_enlargereduce_work_with_great_weapon_fighting/)*

##### Mezzorco: Attacchi Selvaggi

Quando ottenete un colpo critico con un attacco con arma da mischia, potete tirare uno 
dei dadi del danno da arma una volta in più e aggiungerlo al danno extra del colpo critico. 

</div>

</div>