/* Style the button that is used to open and close the collapsible content */
.coll-primary {
    color: #c9ad6a;
    padding: 5px;
    margin: 0px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    text-align: left;
    font-size: 25px;
    font-family: MrJeeves;

    &:after {
        content:' ';
        display:block;
        border: 0.5px solid #c9ad6a;
        border-radius: 4px 0 4px 0;
    }

    &:hover {
        background-color: #dddddd22;
    }
}

.coll-secondary {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-style: italic;
    font-family: MrJeeves;
    text-align: left;
    
    &:hover {
        background-color: #dddddd22;
    }
}

.collapsible {
    cursor: pointer;
    &:before {
        content: "▲ "
    }
    &.active:before {
        content: "▼ "
    }
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    display: none;
    overflow: hidden;
}

.recap-title {
    color: white;
}

.expand-all {
    color: white;
    cursor: pointer;
    padding: 5px;
    margin: 0px;
    border: none;
    background: #323232;
    border-radius: 10px;
    outline: none;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: ScalySans;
    font-variant: small-caps;

    &:hover {
        background: #4d4d4d;
    }
}