
#header {
    position: initial;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 28px;
    color: #d1c288;
}

h3 {
    color: inherit;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
}

table.quest {
    td:first-child {
        font-weight: bolder;
        font-size: 2em;
    }
    td:nth-child(1) {
        width: 15%;
    }
    td:nth-child(2) {
        width: 10%;
    }
    td:nth-child(3) {
        width: 10%;
    }
    td:nth-child(4) {
        width: 10%;
    }
    td:nth-child(5) {
        max-width: 200px;
    }
}

.wrapper {
    max-width: 800px !important;
    section {
        max-width: 100%;
    }
}

.quest-paper {
    background-color: rgb(227, 230, 216);
    margin: 15px;
    color: rgb(37, 37, 37);
    padding: 8px;
    margin: auto;
    width: 80%;
}

.dialogue {
    display: flex;
    // background-color: rgb(73, 73, 73);
    // border: rgb(19, 19, 19) solid 2px, rgb(36, 36, 36) solid 8px;
    border: 10px double rgb(172, 172, 172);
    border-image: url(/assets/img/dialog_border_white.webp) 34 0 34;
    border-image-repeat: space;
    border-image-outset: -8px;
    padding: 4px;
    // border-radius: 5px;
    margin: 10px;

    .icon {
        flex: 1;
        flex-basis: 30%;
        max-width: 100px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0.2em;
        background-size: 100%;
        min-height: 70px;
    }

    .kynthea {
        background-image: url(/assets/img/icon_kynthea.webp);
    }
    .chestibor {
        background-image: url(/assets/img/icon_chestibor.webp);
    }
    .damien {
        background-image: url(/assets/img/icon_mistery.webp);
    }

    p {
        margin: 0.2em;
        flex: 5;
        flex-basis: 70%;
    }
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.portrait {
    aspect-ratio: 1/1;
    background-size: cover;  
    z-index: -1;
    border-radius: 3%;
    margin: 0.2em;
    display: inline-block;
}

/*
.kynthea::before {
    content: "";
    background-image: url(../img/icon_kynthea.webp);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
*/

.placeimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        object-fit: contain;
        display: inline-block;
        flex-shrink: 1;
    }
}

.nomobile {
    @media (max-width: 800px) {
        display: none;
    }
}
.mobileonly {
    @media (min-width: 800px) {
        display: none;
    }
}
.nomobile,.mobileonly p {
    text-indent: 0 !important;
}

/* Fade loop */

.fadeloop {
    position:relative;
    // top:0px;
    // left:50%;
    // margin:auto;

    img {
        position: absolute;
        // left:-65px;
        top:0;
        -webkit-animation-name: fade;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 6s;
        animation-name: fade;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        height: 100%;
    }


    // #f1 {
    // }
    #f2 {
        animation-delay: -3s;
        -webkit-animation-delay: -3s;
    }
    // #f3 {
    //     animation-delay: -3s;
    //     -webkit-animation-delay: -3s;
    // }
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    10% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    10% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.new::before {
    content: "▶  ";
    color: #44ff55;
    font-size: 12px;
}

.restocked::before {
    content: "▶  ";
    color: #ff8112;
    font-size: 12px;
}

@mixin no-indent {
    text-indent: 0 !important;
}

.noindent {
    @include no-indent;
}

blockquote, blockquote * {
    @include no-indent;
}

tr.tablesep {
    background-color: #11351c !important;
}

blockquote.introquote {
    max-width: 500px;
    margin: auto;
    * {
        font-size: 16px !important;
    }
}

div.shop-table {
    max-height: 800px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-bottom: 2px solid #816f48;
}

img {
    object-fit: cover !important;
}