td.crit {
    color: green
}

.tooltip {
    position: relative;

    .tooltiptext {
        visibility: hidden;
        // width: 120px;
        background-color: #0c0c0c77;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
    
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 15%;
        margin-left: -10px;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}

span.reroll-button {
    cursor: pointer;
    &.reroll-used {
        cursor: default;
        i {
            opacity: 40%;
        }
    }
}