td.crit {
    color: green
}

.tooltip {
    position: relative;

    .tooltiptext {
        visibility: hidden;
        // width: 120px;
        background-color: #0c0c0c77;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
    
        // position: fixed;
        position: absolute;
        left: 2em;
        bottom: -15px;
        z-index: 1;
        // margin-left: 10px;
        user-select: none;
        pointer-events: none;

        opacity: 0;
        transition: .15s ease-in-out;
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 100%;
    }
}

span.reroll-button {
    cursor: pointer;
    &.reroll-used {
        cursor: default;
        i {
            opacity: 40%;
        }
    }
}

#critcheckboxes {
    display: inline-block;
}

table#dmgresults {
    width: max-content;
    overflow: visible;

    tr > td {
        width: fit-content;
        text-align: center;

        &:first-child {
            padding-right: 2em;
            text-align: left;
        }
    }

    td.dmg-head {
        &.bludgeoning::before {
            content: "B";
        }
        &.slashing::before {
            content: "S";
        }
        &.piercing::before {
            content: "P";
        }
        &.lightning::before {
            content: "L";
        }
    }

    .vert-sep {
        border-left: #ffffffdd 1px solid;
    }
}