td.crit {
    color: green
}

td.dmg-low {
    color: orange;
}

td.dmg-one {
    color: red;
}

.tooltip {
    position: relative;

    .tooltiptext {
        visibility: hidden;
        width: fit-content;
        background-color: #0c0c0c77;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;

        // position: fixed;
        position: absolute;
        left: 2em;
        bottom: -15px;
        z-index: 1;
        // margin-left: 10px;
        user-select: none;
        pointer-events: none;

        opacity: 0;
        transition: .15s ease-in-out;
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 100%;
    }
}

span.reroll-button {
    display: inline-block;
    cursor: pointer;
    padding-left: 3px;
    width: 0;
    overflow: visible;
    &.reroll-used {
        cursor: default;
        i {
            opacity: 40%;
        }
    }
}

span.savage-button {
    cursor: pointer;
    color: darkred;
    width: 2.5em;
    display: inline-block;
    text-align: right;
    padding-right: 3px;
    &.reroll-used {
        cursor: default;
        i {
            opacity: 40%;
        }
    }
}

#critcheckboxes {
    display: inline-block;
}

table#dmgresults {
    width: max-content;

    tr > td {
        width: fit-content;
        text-align: center;

        &:first-child {
            padding-right: 2em;
            text-align: left;
        }
    }

    td.dmg-head {
        font-weight: 900;
        &.total::before {
            content: "Tot";
            font-style: italic;
        }
        // &.bludgeoning::before {
        //     content: "B";
        // }
        // &.slashing::before {
        //     content: "S";
        // }
        // &.piercing::before {
        //     content: "P";
        // }
        &.lightning {
            // content: "\e0b7";
            // font-family: "Font Awesome 5 Free"; 
            color: lightblue;
        }
        &.fire {
            // content: "\f06d";
            // font-family: "Font Awesome 5 Free"; 
            color: orangered;
        }
        &.bonus::after {
            content: "+";
        }
    }

    .vert-sep {
        border-left: #ffffffdd 1px solid;
    }
}

@mixin number-box {
    font-family: ScalySans;
    color: white;
    font-size: 3em;
}

.webapp.xandra {
    max-width: 800px;
    overflow: visible;
    * {
        overflow: visible;
    }

    .table-container {
        overflow-x: scroll;
        overflow-y: visible;    
    }

    .invalid-formula-warn {
        display: none;
        color: red;
        font-style: italic;
    }

    .damagebox {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 800px) {
            flex-direction: column;

            .damagecontainer {
                text-align: center;
                width: fit-content;
            }
        }

        .damagecontainer {
            border: 0.5px solid #ffffff99;
            padding: 1em;
            margin: 0.5em;
            border-radius: 5px;

            p {
              padding-bottom: 0;  
              &:last-of-type {
                margin-bottom: 2px !important;
              }
            }
        }
    }

    input[type="number"] {
        background: none;
        border: none;
        @include number-box;
        appearance: textfield;
        width: 2em;
        text-align: center;
        margin: 0;
    }

    .bonus-sign {
        @include number-box;
        text-align: right;
    }

    .number-input,
    .number-input * {
        box-sizing: border-box;
    }

    .number-input {
        display: flex;
        align-content: space-around;
        align-items: center;

        .number-box {
            background: #121212dd;
            border-left: $horizontalRule 3px solid;
            border-radius: 5px;
            margin: 0 5px;
        }

        button {
            outline:none;
            background-color: transparent;
            color: white;
            border: none;
            align-items: center;
            justify-content: center;
            width: 1rem;
            height: 3rem;
            cursor: pointer;
            margin: 0;
            position: relative;

            @mixin button {
                display: inline-block;
                position: absolute;
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900;
                content: '\f077';
            }

            &.minus:after {
                @include button;
                transform: translate(-50%, -50%) rotate(180deg);
            }

            &.plus:before {
                @include button;
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }

    .critbox {
        display: inline-block;
        margin: 5px;
    }
}