<table>
    <thead>
        <tr>
            <th>Area</th>
            <th>Habitat</th>
            <th>Subcategory</th>
            <th>Pokemon</th>
        </tr>
    </thead>
    <tbody class="wild-area-table" id="{{ include.id }}">

    </tbody>
</table>
