---
---

.hb-source {
    font-style: italic;
    opacity: 90%;
    font-size: 0.9em;
}
.hb-damage {
    font-weight: bold;
}
.hb-dice {
    font-weight: bold;
}
.hb-spell {
    font-style: italic;
}
.hb-condition {
    font-style: italic;
}
.hb-creature {
    font-style: italic;
    font-weight: bold;
}
p {
    text-indent: 0 !important;
}