---
---
.recap {
    color: darkgray;
    cursor: pointer;
}

p.imgcontainer {
    text-align: center;
}

div.side-by-side {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        display: inline-block;
        width: 47%;
        margin-top: 0 !important;
    }
    p:nth-child(even) {
        text-align: right;
    }
}