---
---

table.sab {
    // table-layout: fixed;
    width: 100%;

    th {
        text-overflow: ellipsis;
        overflow: hidden;    
    }
    .col-name {
        min-width: 25%;
        max-width: 200px;
    }
    .col-desc {
        min-width: 50%;
    }
    .col-price {
        width: 50px;
        text-align: center;
    }
    .col-attunement {
        max-width: 20px;
        text-align: center;   
    }
    td.col-attunement {
        font-size: 0.75em;
    }

    i {
        font-size: 75%;
    }
}

.sab-item {
    cursor: pointer;
    &:hover {
        background-color: #3b3b55 !important;
    }
}

$desc-base-width: 33%;

.sab-itemdesc-header {
    width: $desc-base-width;
    max-width: 0;
} 

.sab-itemdesc {
    * {
        font-style: italic;
    }
    emph,i,it { 
        font-style: normal;
    }
}

.sab-item {
    .sab-itemdesc {
        width: 50vh;
        // max-width: 0;
    }
    &.sab-hidden {         
        .sab-itemdesc {
            width: $desc-base-width;
            max-width: 0;
            > div {
                overflow: hidden;
                white-space: nowrap;
                * {
                    text-overflow: ellipsis;
                }
                max-height: 1em;
            }
        }
    }

    p {
        padding: 0;
        margin: 0 !important;
    }
}