@font-face {
    font-family: 'Childs Handwriting';
    src: url('font/childs_handwriting-webfont.woff2') format('woff2'),
         url('font/childs_handwriting-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}