@font-face {
    font-family: "Zatanna Misdirection";
    src: 
        local("Zatanna Misdirection Remake"),    
        local("Zatanna Misdirection"),
        url('./Zatanna Misdirection/Zatanna Misdirection.otf'),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Zatanna%20Misdirection/Zatanna%20Misdirection.otf") format("opentype");
}
@font-face {
    font-family: "Zatanna Misdirection";
    src: 
        local("Zatanna Misdirection Remake"),    
        local("Zatanna Misdirection"),
        url('./Zatanna Misdirection/Zatanna Misdirection Bold Italic.otf'),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Zatanna%20Misdirection/Zatanna%20Misdirection%20Bold%20Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Zatanna Misdirection";
    src: 
        local("Zatanna Misdirection Remake"),    
        local("Zatanna Misdirection"),
        url('./Zatanna Misdirection/Zatanna Misdirection Bold.otf'),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Zatanna%20Misdirection/Zatanna%20Misdirection%20Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Zatanna Misdirection";
    src: 
        local("Zatanna Misdirection Remake"),    
        local("Zatanna Misdirection"),
        url('./Zatanna Misdirection/Zatanna Misdirection Italic.otf'),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Zatanna%20Misdirection/Zatanna%20Misdirection%20Italic.otf") format("opentype");
    font-style: italic;
}